<section class="dsa5-traveller locator content">
    <div class="locator-setting">
        {{#if status.viewsLocatorScene}}
        <div class="scene active">
            <button disabled><i class="far fa-map"></i></button>
            Scene: <b>{{settings.general.locatorSceneName}}</b>
        </div>
        {{ else }}
        <div class="scene">
            <button class="scene" name="set-locator-scene"><i class="far fa-map"></i></button>
            Scene: <b>{{settings.general.locatorSceneName}}</b>
        </div>
        {{/if}}
        <!--status.viewsLocatorScene-->

        {{#if status.controlsOneToken}}
        {{#if status.viewsLocatorToken}}
        <div class="token active">
            <button disabled><i class="fas fa-users"></i></button>
            Token: <b>{{settings.general.locatorTokenName}}</b>
        </div>
        {{ else }}
        <div class="token active">
            <button name="set-locator-token"><i class="fas fa-users"></i></button>
            Token: <b>{{settings.general.locatorTokenName}}</b>
        </div>
        {{/if}}
        <!--status.viewsLocatorToken-->
        {{else}}
        <!--controlsOneToken-->
        <div class="token">
            <button disabled><i class="fas fa-users"></i></button>
            Token: <b>{{settings.general.locatorTokenName}}</b>
        </div>
        {{/if}}
        <!--controlsOneToken-->
    </div>

    <div class="current-location">
        <div class="icon">
            <button name="update-location"><i class="far fa-compass"></i></button>
        </div>
        <div class="result">
            {{#each status.location}}
            <div>
                <b>{{key}}</b>
                {{#each index}}
                <span>{{this}}</span>
                {{/each}}
                <!--index-->
            </div>
            {{/each}}
            <!--status.location-->
        </div>
    </div>

    {{#each settings.regions}}
    <div class="region head">
        <div>
            <a><b onclick="$('.region.index.{{key}}').toggle();">{{name}} ({{index.length}})</b></a>
        </div>
        <div>
            <button name="toggle-region"
                    data-show-region=true
                    data-region-key={{key}}><i class="fas fa-eye"></i></button>
            <button name="toggle-region"
                    data-show-region=false
                    data-region-key={{key}}><i class="fas fa-eye-slash"></i></button>
            <button name="toggle-region"
                    data-region-key={{key}}
                    type="button"><i class="fas fa-exchange-alt"></i></button>
        </div>
        <div>
            <button name="parse-drawing" data-region-key={{key}}><i class="fas fa-upload"></i></button>
        </div>
    </div>
    <div class="region index {{key}}">
        {{#each index}}
        <div class="region-entry">
            <div>{{name}}</div>
            <div>
                <button name="toggle-region"
                        data-show-region=true
                        data-region-key={{../key}}
                        data-region-id={{key}}
                        type="button"><i class="fas fa-eye"></i></button>
                <button name="toggle-region"
                        data-show-region=false
                        data-region-key={{../key}}
                        data-region-id={{key}}
                        type="button"><i class="fas fa-eye-slash"></i></button>
                <button name="toggle-region"
                        data-region-key={{../key}}
                        data-region-id={{key}}
                        type="button"><i class="fas fa-exchange-alt"></i></button>
            </div>
            <div>
                <button name="remove-region-entry"
                        data-region-entry-key={{key}}
                        data-region-key={{../key}}><i class="fas fa-trash"></i></button>
            </div>
        </div>
        {{/each}}
        <!--index-->

    </div>
    <hr/>
    {{/each}}
    <!--settings.regions-->

    <div class="danger-zone">
        <div>
            <a><h1 onclick="$('.danger-zone-buttons.hidden').toggle();">Danger Zone</h1></a>
        </div>

        <div class="danger-zone-buttons hidden">
            <button name="unset-flags">remove regions from drawings</button>
            <button name="reset-regions">remove all region entries</button>
        </div>
    </div>

</section>
