<div class="content">

    <h1>Allgemeine Proben</h1>
    <section style="display: grid; grid-template-columns: auto auto">
        <h3>Feuer machen</h3>
        <button name="request-roll"
                data-roll-target="Wildnisleben" data-roll-mod="1" data-roll-reason="Feuer machen"
        >Wildnis +1
        </button>
        <h3>Feuerholz sammeln</h3>
        <button name="request-roll"
                data-roll-target="Wildnisleben" data-roll-mod="3" data-roll-reason="Feuerholz sammeln">Wildnis +3
        </button>
        <h3>Essen zubereiten</h3>
        <button name="request-roll"
                data-roll-target="Lebensmittelbearbeitung" data-roll-mod="1">Lebensmittelbearbeitung +1
        </button>
    </section>

    <h1>Nachtwachen</h1>
    <section style="display: grid; grid-template-columns: auto auto auto">
        <h3>1. Nachtwache</h3>
        <button name="request-roll"
                data-roll-target="Körperbeherrschung" data-roll-mod="3" data-roll-reason="wach bleiben"
        >Körperbeherrschung
        </button>
        <button name="request-roll"
                data-roll-target="Sinnesschärfe" data-roll-mod="0" data-roll-reason="wachsam bleiben"
        >Sinnesschärfe +/-
        </button>
        <h3>2. Nachtwache</h3>
        <button name="request-roll"
                data-roll-target="Körperbeherrschung" data-roll-mod="0" data-roll-reason="wach bleiben"
        >Körperbeherrschung
        </button>
        <button name="request-roll"
                data-roll-target="Sinnesschärfe" data-roll-mod="0" data-roll-reason="wachsam bleiben"
        >Sinnesschärfe +/-
        </button>
        <h3>3. Nachtwache</h3>
        <button name="request-roll"
                data-roll-target="Körperbeherrschung" data-roll-mod="1" data-roll-reason="wach bleiben"
        >Körperbeherrschung
        </button>
        <button name="request-roll"
                data-roll-target="Sinnesschärfe" data-roll-mod="0" data-roll-reason="wachsam bleiben"
        >Sinnesschärfe +/-
        </button>
    </section>

    <h1>Tiles platzieren</h1>

    {{#each tokens}}
    <section style="display: grid; grid-template-columns: 64px 48px 48px 48px 48px 48px 48px 48px 48px">
        <div><img src="{{img}}"/></div>
        <button name="make-fire" data-token-id="{{_id}}"><img
                src="modules/dsa5-core/icons/equipment/FeuersteinundStahl.webp"/></button>
        <button name="place-tile" data-token-id="{{_id}}" data-token-tile="zelt"><img
                src="modules/dsa5-core/icons/equipment/Zelt1Person.webp"/></button>
        <button name="place-tile" data-token-id="{{_id}}" data-token-tile="schlafsack"><img
                src="modules/dsa5-core/icons/equipment/Schlafsack.webp"/></button>
    </section>
    <hr/>
    {{/each}}
    <!--tokens-->

</div>
