<div class="content">

    {{#each tokens}}
    <section style="display: grid; grid-template-columns: 64px auto auto auto 48px 48px 48px 48px">
        <div><img src="{{img}}"/></div>
        <button name="make-fire" data-token-id="{{_id}}"><i class="fas fa-fire"></i></button>
        <button name="go-hunting" data-token-id="{{_id}}"><i class="fas fa-paw"></i></button>
        <button name="find-herbs" data-token-id="{{_id}}"><i class="fas fa-leaf"></i></button>
        <button name="place-tile" data-token-id="{{_id}}" data-token-tile="zelt"><img
                src="modules/dsa5-core/icons/equipment/Zelt1Person.webp"/></button>
        <button name="place-tile" data-token-id="{{_id}}"data-token-tile="schlafsack"><img
                src="modules/dsa5-core/icons/equipment/Schlafsack.webp"/></button>
    </section>
    <hr/>
    {{/each}}
    <!--tokens-->

    <section style="display: grid; grid-template-columns: auto auto auto auto auto ">
        <button name="request-roll" data-roll-target="Wildnisleben" data-roll-mod="1"><img
                src="modules/dsa5-core/icons/equipment/Schlafsack.webp"/></button>
    </section>
    <hr/>
    .
    <hr/>
    .
    <hr/>

    <h1>Nachtwache</h1>
    <select>
        {{#each tokens}}
        <option>{{name}}</option>
        {{/each}}
    </select>

    <div class="result">
        {{#each settings.location.region}}
        <div>
            <b>{{name}}</b>
            {{#each index}}
            <span>{{name}}</span>
            {{/each}}
            <!--index-->
        </div>
        {{/each}}
        <!--settings.location-->
    </div>

    <h1>Nachtwachen einteilen</h1>
    <form>
        <div>
            <label>
                erste Wache
                <input/>
            </label>
        </div>
        <div>
            <label>
                zweite Wache
                <input/>
            </label>
        </div>
        <div>
            <label>
                dritte Wache
                <input/>
            </label>
        </div>
    </form>

    <h1>Wer schläft wo?</h1>
    <form>
        <h2>Spieler 1</h2>
        <label>
            Im Zelt
            <input type="checkbox"/>
        </label>
        <label>
            Mit Decke / Wolldecke
            <input type="checkbox"/>
        </label>
        <label>
            Im Schlafsack
            <input type="checkbox"/>
        </label>
    </form>
    <form>
        <h2>Spieler 2</h2>
        <label>
            Im Zelt
            <input type="checkbox"/>
        </label>
        <label>
            Mit Decke / Wolldecke
            <input type="checkbox"/>
        </label>
        <label>
            Im Schlafsack
            <input type="checkbox"/>
        </label>
    </form>

    <form>
        <h2>Spieler 3</h2>
        <label>
            Im Zelt
            <input type="checkbox"/>
        </label>
        <label>
            Mit Decke / Wolldecke
            <input type="checkbox"/>
        </label>
        <label>
            Im Schlafsack
            <input type="checkbox"/>
        </label>
    </form>

    <button>gute Nacht!</button>

</div>
